In [ ]:

import numpy as np

import pandas as pd

In [ ]:
vk=pd.read_csv('/content/kohli_ipl.csv',index_col='match_no').squeeze('columns')

In [ ]:
vk[1]

np.int64(1)

In [ ]:
#between will provide a value between ranges
vk.between(50,100)
vk[vk.between(50,100)].head(5)

match_no
15    50
34    58
41    71
44    56
45    67
Name: runs, dtype: int64

In [ ]:
#clip will keep the value between it and convert the values to lower/higer range
vk.clip(50,100)

match_no
1      50
2      50
3      50
4      50
5      50
       ..
211    50
212    50
213    73
214    50
215    50
Name: runs, Length: 215, dtype: int64

In [ ]:
##drop duplicatates will remove duplicated values
vk.drop_duplicates()

match_no
1       1
2      23
3      13
4      12
6       9
       ..
173    29
175    72
176    43
178    90
198    53
Name: runs, Length: 78, dtype: int64

In [ ]:
#it can provide flexibility by keeping last values by passing last parameters
vk.drop_duplicates(keep='last')

match_no
26      2
37     37
41     71
49     15
58     22
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 78, dtype: int64

In [ ]:
##duplicated will tell if any values is duplicated
vk.duplicated()

match_no
1      False
2      False
3      False
4      False
5       True
       ...
211     True
212     True
213     True
214     True
215     True
Name: runs, Length: 215, dtype: bool

In [ ]:
##is null
vk.isnull().sum()

np.int64(0)

In [ ]:
dt=pd.Series([22,33,np.nan,88])
dt.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
##dropana is used to remove all null value
dt.dropna()

0    22.0
1    33.0
3    88.0
dtype: float64

In [ ]:
##filna is used to fill misssing value with specific value
dt.fillna(90)

0    22.0
1    33.0
2    90.0
3    88.0
dtype: float64

In [ ]:
## is in fun
vk[(vk==50) | (vk==49)]

match_no
15     50
86     49
182    50
Name: runs, dtype: int64

In [ ]:
##isin
vk[vk.isin([50,49,60])]

match_no
15     50
86     49
182    50
Name: runs, dtype: int64

In [ ]:
##apply function help us to use custom logic or to apply our own functions